@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');



:root{
    --light-color:#F3F9FB;
    --dark-color:#1C2B2D;
    --primary-color:#00B7A8;
}



*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--light-color);
    line-height: 1.5em;
}

/* img{
    width:100%;
} */



/* ++++++++++++++++++++++++++++++  LANDIND-PAGE ++++++++++++++++++++++++++++++*/



.main{
    /* border:1px solid red; */
    width:100%;
    height:100vh;
}



/* +++++++ HEADER +++++ */


.header{
    /* border:1px solid blue; */
    width:95%;
    margin: 0 auto;
    padding: 1em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.logo{
    font-size: 2em;
    font-weight: 800;
    color:var(--primary-color);
    letter-spacing: .02em;
    cursor: pointer;
    user-select: none;
}

.nav-and-btn-cont{
    /* border: 1px solid red; */
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
}


.nav-ul{
    display: flex;
    list-style: none;
    padding:.5em ;
    /* border: 1px solid red; */
}

.nav-ul li{
    /* border: 1px solid blue; */
    padding: .3em .8em;
}

.nav-ul li a{
    padding: 0em .8em;
    text-decoration: none;
    font-size: .88em;
    color: var(--dark-color);
    border-left:3px solid transparent;
    transition: all 200ms linear;
}

.nav-ul :nth-child(1) a{
    border-left:3px solid var(--primary-color); ;
}

.nav-ul li a:hover,
.nav-ul li a:focus{
    border-color: var(--primary-color);
}

.dashboard-btn{
    outline: none;
    border: none;
    padding: .5em 1em;
    font-family: 'Poppins',sans-serif;
    background-color: var(--primary-color);
    color:var(--light-color);
    font-weight: 500;
    cursor: pointer;
}


@media(max-width:785px){
    .nav-list-cont{
        display: none;
    }

    .header{
        padding:1.5em 0;
    }
}


/* ++++++++ CONTENT-ON-LANDING-PAGE +++++++ */


.content-container{
    /* border:1px solid red; */
    width:60%;
    height:50%;
    margin-top: 10em;
    margin-left: 6%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.content-head{
    font-size: 5em;
    margin-left: -.06em;
    padding-bottom: .3em;
    color: var(--dark-color);
    font-weight: 900;
}

.content-head span{
    font-weight: 300;
    color:#000;
}




.content-quote-cont{
    /* border: 1px solid black; */
    width:45ch;
    padding: .5em .5em .5em 0;
}


.quote{
    color: var(--dark-color);
}

.quote span{
    color:var(--primary-color);
    font-weight: 700;
}


.content-2{
    width:60ch;
    padding: .5em .5em .5em 0;
    z-index: 60;
}

.explore-btn-cont{
    display: flex;
    flex-direction:row ;
    justify-content: flex-start;
    align-items: center;
    width:130%;
}


.explore-btn{
    outline: none;
    border: none;
    padding: .5em 1.5em;
    font-family: 'Poppins',sans-serif;
    background-color:var(--dark-color) ;
    border:1px solid var(--dark-color);
    color:var(--light-color);
    font-weight: 500;
    cursor: pointer;
    margin-right:1em;
}


.blog-btn{
    outline: none;
    border: none;
    padding: .5em 1.5em;
    font-family: 'Poppins',sans-serif;
    background-color: transparent;
    border: 1px solid var(--dark-color);
    color:var(--dark-color);
    font-weight: 500;
    cursor: pointer;
    margin-right:1em;
}




.illustration-cont{
    /* border:1px solid red; */
    width:450px;
    height:450px;
    position:absolute;
    bottom:50px;
    right:80px;
}


.landing-img-container{
    /* border:1px solid red; */
    width:450px;
    height:450px;
    position:absolute;
    bottom:0;
    right:0;
    background-color: none;
    background-image: url("Images/illustration/girlIllustration0.2.png");
    background-size: cover;
}

.flower-pot-1{
    position: absolute;
    bottom: -10px;
    left:-20px;
    z-index:50;
}


.flower-pot-2{
    position: absolute;
    bottom: -10px;
    right:-20px;
    z-index:50;
}





@media(max-width:935px){

    .content-container{
        margin-top: 6em;
    }

    .content-head {
        line-height: .8em;
    }

    .content-quote-cont{
        width:30ch;
    }

    .illustration-cont{
        right:30px;
        bottom:80px;
    }

    .landing-img-container{
        width:380px;
        height:380px;
    }

    .flower-pot-1{
        width:calc(148px / 1.5);
        height:calc(383px / 1.5);
        left:90px;
    }
    
    .flower-pot-2{
        width:calc(140px / 1.5);
        height:calc(422px / 1.5);
        right:20px;
    }


    .content-2{
        padding-top: 3em;
        width:50ch;
    }
}

@media (max-width:850px) {
    .content-2{
        width:40ch;
    }
}


@media(max-width:690px){
    .illustration-cont{
        display: none;
    }

    .main{
        background-image: url("images/illustration/illus.jpg");
        background-size: cover;
        background-color: #1C2B2Daa;
        background-blend-mode: multiply;
    }


    .content-head{
        font-size: 3em;
    }
    .quote{
        color: var(--light-color);
    }

    .content-2{
        color: var(--light-color);
    }

    .explore-btn{
        background-color: var(--primary-color);
        border-color: var(--primary-color);
    }

    .blog-btn{
        border-color:var(--primary-color) ;
        color:var(--light-color);
    }

    .content-quote-cont{
        width:30ch;
    }

    .content-2{
        padding-top: 3em;
        width:30ch;
    }
}